.well-title{
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: -7px;
}

.ui-slider{
    width:100px;  
}

h5{line-height: 12px;}

#footer{border-top:1px solid #DDDDDD; margin-top:20px; background-color:#EEEEEE; padding: 10px 0px 20px; margin-bottom:-20px}

#explain-note{
	font-weight: lighter
}

.activia {
  font-weight: bold;
  color: #ffffff;
  background-color: #b6b6b6;
  padding: 2px;
  border: 1px dashed darkgray;
  border-radius: 5px;
}

.hide-element {
  visibility: hidden !important;
  display: hidden;
}

.label-heading{
  padding-bottom: 10px;
}

.aladin-location-text{
  margin-left: 20px;
}

a { white-space: nowrap; }

.tooltip {
    background-color: none !important;
}

.tooltip-inner {
    background-color: rgb(120, 120, 120) !important;
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color: rgb(57, 57, 57);
}
